<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <img style="background:black;" src="https://mango.com.bd/img/logo_mango.png" /><br />
    <br />
    <div style="border-top: 3px solid #61028D">
        &nbsp;
    </div>
    <span style="font-family: Arial; font-size: 10pt">
        Hello <b>{UserName}</b>,<br />
        <br />
        My Portfolio has been published <br />
        <br />
        <a style="color: #61028D" href="{Url}">{Title}</a><br />
        {Description}
        <br />
        <br />
        Thanks<br />
        Zuhair
    </span>
</body>
</html>